<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
  <style>
    label {
      font-size: 0.65rem;
    }
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>비밀번호 변경</h1>

<form action="/change-password" th:object="${user}" method="post">
  <div class="container">
    <!-- 기존 비밀번호 -->
    <div>
      <div class="space-between">
        <label for="currentPassword">기존 비밀번호</label>
        <input type="password" id="currentPassword" th:field="*{currentPassword}" th:errorclass="field-error" placeholder="비밀번호를 입력해주세요."></input>
      </div>
      <div class="field-error" th:errors="*{currentPassword}">기존 비밀번호 오류</div>
    </div>

    <!-- 새로운 비밀번호 -->
    <div>
      <div class="space-between">
        <label for="newPassword">새로운 비밀번호</label>
        <input type="password" id="newPassword" th:field="*{newPassword}" th:errorclass="field-error" placeholder="비밀번호를 입력해주세요."></input>
      </div>
      <div class="field-error" th:each="error : ${#fields.errors('newPassword')}"
           th:if="${errorStat.index == 0}"
           th:text="${errorStat.current}">
        새로운 비밀번호 오류
      </div>
    </div>

    <!-- 버튼 -->
    <button type="submit" class="mg-t-15">완료</button>
    <button type="button" onclick="location.href='/profile'">취소</button>
  </div>
</form>
</body>

</html>
