<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사용자 홈</title>
  <style>
    span {
      color: #F9BB00;
      cursor: pointer;
    }
  </style>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>
  <span th:text="|${user.name}|" onclick="location.href='/profile'"></span>님 환영합니다!
</h1>

<div class="container">
  <button type="button" onclick="location.href='/events'">이벤트</button>
  <button type="button" onclick="location.href='/products'">상품</button>
  <button type="button" onclick="location.href='/cart'">장바구니</button>
</div>
</body>
</html>